export(generate_synthetic_data)
export(calcium_correction)
export(infer_spikes)
export(infer_spikes_advanced)
export(plot_cell_trace)
export(launch_interactive_viewer)
export(calcium_pipeline)
export(calciumcorrection)
